.chatroom-message,
.recent-message {
  border: 1px solid rgb(50,50,50);
  border: 1px solid rgba(50,50,50, 0.75);
  border-top: none;
}

article:first-of-type.chatroom-message,
article:first-of-type.recent-message {
  border-top: 1px solid rgb(50,50,50);
  border-top: 1px solid rgba(50,50,50, 0.75);
}

article {
  display: grid;
  grid: 'author post';
  grid-template-columns: 125px;
}

.room-info {
  grid-area: author;
}

.post-info {
  border-right: 1px solid rgb(50,50,50);
  border-right: 1px solid rgba(50,50,50, 0.75);
  box-sizing: border-box;
  font-size: 0.75rem;
  grid-area: author;
  height: 100%;
  padding: 0.5rem;
}

.recent-message {
  border-left: none;
  border-right: none;
  grid-area: post;
}

.recent-message .post-info {
  border: none;
}

.author-label {
  vertical-align: top;
}

.recent-message .author-label {
  font-style: italic;
}
.recent-message .author-label:after {
  content: ': ';
}

.author-thumbnail {
  height: 50px;
  width: 50px;
}

.message-wrapper {
  font-size: 14px;
  grid-area: post;
  padding: 5px 10px;
  vertical-align: top;
}

.message-wrapper > p {
  margin: 0;
}

form[name="newPostForm"] {
  margin: 15px 0;
}
