aside.sidebar {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 75px;
  width: 180px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: gray;
  box-shadow: 0px 0px 5px 0px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chatroom-search {
  margin: 0 auto;
}

.chatrooms {
  margin: 15px auto 0;
  width: 100%;
}

.chatrooms li:last-child {
  margin-top: 10px;
}

input[name="roomName"],
input[name="roomDescription"] {
  width: 100%;
  box-sizing: border-box;
}

input[name="roomDescription"] {
  resize:vertical;
}

aside.sidebar ul,
navbar ul {
  list-style-type: none;
  padding: 0;
}

navbar {
  position: fixed;
  display: table;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  box-shadow: 0px 0px 5px 0px black;
  background-color: royalblue;
  color: white;
}

navbar ul {
  margin: auto 0;
}

navbar a,
navbar a:active,
navbar a:visited {
  text-decoration: none;
  color: white;
}

.favorites {
  position: absolute;
  display: table;
  left: 200px;
  height: 100%;
}

.favorite-item {
  position: relative;
  z-index: 4;
  transform: translateY(50%);
  color: black;
  padding: 5px;
  float: left;
  margin-left: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 2px solid rgba(0,0,0,0.3);
}

.favorite-item::before,
.favorite-item::after {
  content: '';
  position:absolute;
  bottom: 0px;
  background-color: transparent !important;
  border: 0 solid transparent;
  border-bottom-width: 30px;
}

.favorite-item.active {
  z-index: 5;
}

.favorite-item,
.favorite-item::before,
.favorite-item::after {
  background-color: rgba(200,200,200,0.75);
  border-bottom-color: rgba(200,200,200,0.75);
}

.favorite-item.active,
.favorite-item.active::before,
.favorite-item.active::after {
  background-color: white;
  border-bottom-color: white;
}

.favorite-item::before {
  left: -10px;
  border-left-width: 10px;
}

.favorite-item::after {
  right: -10px;
  border-right-width: 10px;
}

.navbar-area {
  height: 100%;
  display: inline-table;
}

.navbar-link {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}
