<main class="chatroom">
  <h1>{{room.name}}</h1>
  <div class="loading" ng-hide="messages.$resolved"></div>
  <article class="chatroom-message" ng-show="messages.$resolved" ng-repeat="msg in messages | orderBy:'dateSubmitted'">
    <div class="post-info">
      <img class="author-thumbnail" ng-src="{{UserDataService[msg.author].photoURL || '/assets/images/profile-default.png'}}" alt="Author picture" />
      <div class="author-label">{{UserDataService[msg.author].displayName || UserDataService[msg.author].email}}</div>
      <div class="date-label">{{msg.dateSubmitted | date:"MMM dd - hh:mm a"}}</div>
    </div>
    <div class="message-wrapper">
      {{msg.text}}
    </div>
  </article>
  <div ng-hide="UserService.currentUser">Log in or sign up to contribute to the discussion.</div>
  <form name="new-post-form" ng-show="UserService.currentUser">
    <textarea rows="3" cols="75" class="" placeholder="Share your thoughts..." ng-model="newMessage.text" ></textarea>
    <input type="submit" class="submit-new-post btn btn-blue s-b-s" ng-click="MessageService.add($event, newMessage, room, UserService.currentUser)" value="Post"/>
  </form>
</main>
