<main class="chatroom sidebar-space">
  <h1>{{room.name}}</h1>
  <div class="loading" ng-hide="MessageService.get(id).$resolved"></div>
  <article class="chatroom-message" ng-show="MessageService.get(id).$resolved" ng-repeat="msg in MessageService.get(id) | orderBy:'dateSubmitted'">
    <div class="post-info">
      <img class="author-thumbnail" ng-src="{{UserDataService.get(msg.author).photoURL || '/assets/images/profile-default.png'}}" alt="Author picture" />
      <div class="author-label">{{UserDataService.get(msg.author).displayName || UserDataService.get(msg.author).email}}</div>
      <div class="date-label">{{msg.dateSubmitted | date:"MMM dd - hh:mm a"}}</div>
    </div>
    <div class="message-wrapper">
      <p>{{msg.text}}</p>
    </div>
  </article>
  <div ng-hide="UserService.currentUser">Log in or sign up to contribute to the discussion.</div>
  <div ng-show="UserService.currentUser && (!MessageService.get(id) || !MessageService.get(id).$resolved || !MessageService.get(id).allowed)">You do not have permission to access this chatroom.</div>
  <form ng-controller="MessageFormCtrl" name="newPostForm" ng-show="UserService.currentUser && MessageService.get(id).allowed">
    <textarea required="" rows="3" cols="75" ng-enter="addMessage(room)" placeholder="Share your thoughts..." ng-model="modelObject.text" ></textarea>
    <input type="submit" class="submit-new-post btn btn-blue s-b-s" ng-click="addMessage(room)" value="Post" ng-disabled="!newPostForm.$valid"/>
  </form>
</main>
