<h1>Feed</h1>
<div class="loading" ng-hide="rooms.$resolved"></div>
<section ng-show="rooms.$resolved">
  <article class="recent-message" ng-repeat="room in rooms | orderBy:{ lastMessage: { dateSubmitted }}:true">
    <div class="post-info">
      <div class="room-info">
        <a class="font-md bold" ui-sref="room({id:'{{room.$id}}'})">{{room.name}}</a>
        <div class="date-label">{{room.lastMessage.dateSubmitted | date:'short'}}</div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="author-label">{{room.lastMessage.author.displayName || room.lastMessage.author.email}}</div>
      {{room.lastMessage.text}}
    </div>
  </article>
  <footer>
  </footer>
</section>
