<aside class="sidebar">
  <input type="text" class="chatroom-search" ng-model="sidebarCtrl.roomQuery" />
  <ul class="chatrooms"><li ng-repeat="room in rooms | filter:{ name: sidebarCtrl.roomQuery } track by room.$id">
      <a ui-sref="room({id: '{{room.$id}}'})">{{room.name}}</a>
      <button class="remove float-right ion-trash-b" ng-click="RoomService.remove(room)"></button>
    </li>
    <li ng-init="showChatRoomForm = false">
      <button class="new-chat-room float-left ion-plus" ng-click="showChatRoomForm=true; newRoom={}" ng-disabled="showChatRoomForm"> New Room</button>
      <form ng-show="showChatRoomForm" name="chatroomForm" class="new-chatroom-form">
        <input type="text" name="roomName" placeholder="Name" required ng-model="newRoom.name"/>
        <input type="textarea" rows="3" name="roomDescription" placeholder="Description" ng-model="newRoom.description"/>
        <input type="submit" ng-disabled="chatroomForm.roomName.$error.required" value="Save" ng-click="RoomService.add(newRoom);showChatRoomForm=false"/>
        <button class="close-new-chat-room" ng-click="showChatRoomForm=false" ng-show="showChatRoomForm">Cancel</button>
        </form>
    </li>
  </ul>
</aside>
