<aside class="sidebar" ng-show="UserService.currentUser">
  <input type="text" class="chatroom-search" placeholder="Search chatrooms..." ng-model="roomQuery" />
  <ul class="chatrooms">
    <li class="chatroom-item" ng-repeat="room in userRooms = (RoomService.userRooms | filter:{ name: roomQuery }) | orderBy:'$id':false:favoritesFirst track by room.$id">
      <a class="font-md" ui-sref="room({id: '{{room.$id}}'})">{{room.name}}</a>
      <div class="chatroom-item-buttons">
        <button type="button" class="btn icon-only ion-star font-md" ng-disabled="!UserService.currentUser" ng-class="{favorite: UserService.userSettings.favorites.includes(room.$id)}" ng-click="UserService.toggleFavorite(room.$id)"></button>
        <button type="button" class="btn icon-only remove ion-trash-b font-md" ng-show="UserService.userSettings.my_rooms.hasOwnProperty(room.$id)" ng-click="RoomService.remove(room)"></button>
      </div>
    </li>
    <li class="chatroom-item" ng-repeat="room in public = (RoomService.allPublic | filter:{ name: roomQuery }) | orderBy:'$id':false:favoritesFirst track by room.$id">
      <a class="font-md" ui-sref="room({id: '{{room.$id}}'})">{{room.name}}</a>
      <div class="chatroom-item-buttons">
        <button type="button" class="btn icon-only ion-star font-md" ng-disabled="!UserService.currentUser" ng-class="{favorite: UserService.userSettings.favorites.includes(room.$id)}" ng-click="UserService.toggleFavorite(room.$id)"></button>
        <button type="button" class="btn icon-only remove ion-trash-b font-md" ng-show="UserService.userSettings.my_rooms.hasOwnProperty(room.$id)" ng-click="RoomService.remove(room)"></button>
      </div>
    </li>
    <li class="chatroom-item" ng-hide="userRooms.length + public.length">
      No matches
    </li>
  </ul>
  <div ng-controller="RoomFormCtrl">
    <button type="button" class="new-chatroom btn btn-green float-left ion-plus" ng-click="showForm()" ng-show="!modelObject && UserService.currentUser"> New Room</button>
    <form novalidate class="new-chatroom-form" name="chatroomForm" ng-show="modelObject">
      <input type="text" form-focus name="roomName" class="new-chatroom-name" placeholder="Chatroom name..." required="" ng-model="modelObject.name"/>
      <textarea name="roomInvitees" ng-enter="addRoom()" class="new-chatroom-invitations" placeholder="Invitees..." ng-model="modelObject.invitations"></textarea>
      <textarea name="roomDescription" rows="3" ng-enter="addRoom()" class="new-chatroom-description" placeholder="Description..." ng-model="modelObject.description"></textarea>
      <div>
        <label class="font-sm">Public <input type="checkbox" name="roomPrivate" class="new-chatroom-public" ng-model="modelObject.public"/></label>
      </div>
      <input type="reset" name="roomReset" class="close-new-chatroom btn btn-transparent float-left" ng-click="reset()" value="Cancel" />
      <input type="submit" name="roomSubmit" class="submit-new-chatroom btn btn-green float-right" ng-click="addRoom()" ng-disabled="!chatroomForm.$valid" value="Save" />
    </form>
  </div>
</aside>
